body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set width on the form input elements since they're 100% wide by default */

 .modal-backdrop {
  z-index: -1;
}

 .top-special-span{
     padding-top:8px;
 }

 .margin-bot{
     margin-bottom:10px;
 }

 table.dataTable tbody tr.selected{
     background-color: #B0BED9;
 }

 #logo-home{
     width:200px;
     margin:20% auto 0 auto;
 }
     
 input[type="text"]{
     text-transform:uppercase;
 }


 .IDCreateAfiliado{
     text-align: right;
     padding: 6px 0 0 15px;
 }
